<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../statics/inicio.css">
  </head>
  <body>
    <div class="boton" onclick="animar()">Iniciar</div>
    <!--Este sera mi texto que aparecera al inicio, como una instroduccion...-->
    <section class="intro texto_intro">
      En una tierra muy lejana<br> en un arcade muy,<br> muy remoto ...
    </section>
    <section class="parrafos">
      <div class="historia texto_historia">
          <p>La tierra esta siendo atacada por grandes bloques alienigenas.</p>
          <p>La humanidad no puede quedarse de brazos cruzados, asi que todo depende de ti</p>
          <p>Todos los derechos pertencen al Arcade Coyotito</p>
        </div>
    </section>
    <audio src="../statics/music/music.mp" id="sonido" ></audio>
    <script src="../dynamics/inicio.js"></script>
  </body>
</html>
