<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../statics/GameOver.css" rel="stylesheet" type="text/css" />
    <title> Perdiste </title>
    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../statics/img/favicon_io/favicon-16x16.png">
  </head>
  <body>
    <div id="tudo">
	     <div class="gameover">
	        <p> Perdiste </p>
	    </div>
	     <div class="continue"> <p> ¿Deseas continuar? </p> </div>
	      <div class="opcoes">
		        <div class="yes"> <a href="./indice.html"> SÍ </a> </div>
		        <div class="no"> <a href="./header.html"> NO </a> </div>
	      </div>
    </div>
  </body>
 </html>
