<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <link href="../statics/Perdedor.css" rel="stylesheet" type="text/css" />
  <title> Perdedor </title>
</head>

<body>
  <div id="Inicial">
    <div class="ganador">
      <p> Perdiste:(:(</p>
    </div>
    <div class="continuar">
      <p> ¿Desea continuar? </p>
    </div>
    <div class="opciones">
      <div class="si"> <a href="./breakout.html"> Sí yeah </a> </div>
      <div class="no"> <a href="./header.html"> NO </a> </div>
    </div>
  </div>
</body>

</html>