<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Coyo Breakout Extrem</title>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Germania+One">
      <link rel="stylesheet" href="../statics/estilo.css">
  </head>
  <body>
      <div class="sound">
          <img src="../statics/img/SOUND_ON.png" alt="" id="sound">
      </div>
      <div id="gameover">
          <div id="restart">Reiniciar</div>
      </div>

      <canvas id="breakout" width="400" height="500"></canvas>

      <script src="../dynamics/components.js"></script>
      <script src="../dynamics/game.js"></script>
  </body>
</html>
